
<div class="header-main innerheader-sz">
	<div class="row">
		<div class="header-title  align-center">
			{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
			{{widget('companyname', 'companyname', {"business": "Specify"})|raw}}
		</div>
		<nav class="template-nav">
			{{widget('extendednavigation', 'navigationheader', {"align":"center"})|raw}}
		</nav>
	</div>
</div>